<a href="https://colab.research.google.com/github/oliveirafhm/data_science/blob/master/1_introducao/1_7_1_8_Introducao_ao_Numpy_e_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exemplo Numpy

In [ ]:
numbers = [1,2,3,4,5]

[1, 2, 3, 4, 5]

In [ ]:
import numpy

In [ ]:
numpy.mean(numbers)

3.0

In [ ]:
numpy.median(numbers)

3.0

In [ ]:
numpy.std(numbers)

1.4142135623730951

### Agora tente você mesmo!
### 1.8 - Exercícios de NumPy (submeter pelo Canvas)

In [ ]:
# Exercício 1
# Qual será a média aritmética, a mediana e o desvio padrão para os seguintes arrays?
# Tente resolver sem utilizar a programação e depois confira utilizando as funções do numpy.
array1 = [1,2,3,5,7]
array2 = [1,2,3,5,7,9]

import numpy as np
print(np.mean(array1))
print(np.median(array1))
print(np.std(array1))

# Exercício 2
# Agora que você já aprendeu como calcular a média aritmética, a mediana e o desvio padrão.
# Faça a programação de suas próprias funções em Python para calcular esses três valores,
# isso sem utilizar o Numpy ou qualquer outra função pronta.

3.6
3.0
2.1540659228538015

In [ ]:
# Exemplo/template para o exercício 2
def media(x):
  m = sum(x)/len(x)
  return m

array1 = [1,2,3,5,7]
media(array1)

3.6

###Playground de Numpy

In [ ]:
import numpy as np

'''
O código a seguir é para ajudá-lo a utilizar o Numpy, que é uma biblioteca
que fornece funções que são especialmente úteis quando você precisa
trabalhar com grandes arrays e matrizes de dados numéricos, como fazer
multiplicações matriciais. Além disso, o Numpy é amplamente testado e
otimizado para que seja rápido, muito mais rápido do que se você estivesse
trabalhando com listas do Python diretamente.
'''

'''
A classe array é a base do Numpy, e os array são como as listas do Python,
exceto que tudo dentro de um array numpy deve ser do mesmo tipo, int ou float.
'''

# Troque de False para True para visualizar os numpy arrays em ação

if (False):
  array = np.array([1, 4, 5, 8], float)
  print(array)
  print("")
  array = np.array([[1, 2, 3], [4, 5, 6]], float) # Array 2D (matriz)
  print(array)
  
'''
Você pode indexar, cortar, e manipular um array numpy assim como uma
uma lista no Python
'''

if(False):
  array = np.array([1, 4, 5, 8], float)
  print(array)
  print("")
  print(array[1])
  print("")
  print(array[:2])
  print("")
  array[1] = 5.0
  print(array[1])

# Também com matrizes
if(False):
  two_D_array = np.array([[1, 2, 3], [4, 5, 6]], float)
  print(two_D_array)
  print("")
  print(two_D_array[1][1])
  print("")
  print(two_D_array[1, :])
  print("")
  print(two_D_array[:, 2])

'''
Aqui estão algumas operações aritméticas que podem ser realizadas com
os arrays numpy
'''  

if(False):
  array_1 = np.array([1, 2, 3], float)
  array_2 = np.array([5, 2, 6], float)
  print(array_1 + array_2)
  print("")
  print(array_1 - array_2)
  print("")
  print(array_1 * array_2)

---
## Exemplo Pandas

In [ ]:
from pandas import Series, DataFrame
d = {
    'name': Series(['Braund','Cummings','Heikkinen','Allen'], index=['a','b','c','d']),
    'age': Series([22,38,26,35], index=['a','b','c','d']),
    'fare': Series([7.25, 71.83, 8.05], index=['a', 'b', 'd']),
    'survived': Series([False, True, True, False], index=['a','b','c','d'])
}
df = DataFrame(d)
print(df)

        name  age   fare  survived
a     Braund   22   7.25     False
b   Cummings   38  71.83      True
c  Heikkinen   26    NaN      True
d      Allen   35   8.05     False

### Playground de Pandas: Series

In [ ]:
import pandas as pd

'''
O código a seguir é para ajudá-los a entender como uma série funciona no pandas.

Você pode pensar em Series como um objeto unidimensional que é semelhante a uma 
matriz, lista ou coluna em um banco de dados. Por padrão, será atribuído um rótulo
de índice para cada item da Série, variando de 0 a N, onde N é o número de itens
da série menos um.

Sinta-se livre para manipular o código para explorar o conceito de série e 
entender o que é.

*This playground is inspired by Greg Reda's post on Intro to Pandas Data Structures:
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
'''
# Change False to True to create a Series object
if(False):
  series = pd.Series(['Dave', 'Cheng-Han', 'IFB', 42, -1789710578])
  print(series)

'''
Você também pode atribuir manualmente os índices aos itens da
Série ao criá-la.
'''
# Change False to True to see custom index in action
if(False):
  series = pd.Series(['Dave', 'Cheng-Han', 359, 9001],
                     index=['Instructor', 'Curriculum Manager',
                            'Course Number', 'Power Level'])
  print(series)

'''
You can use index to select specific items from the Series
'''
# Change False to True to see Series indexing in action
if(False):
  series = pd.Series(['Dave', 'Cheng-Han', 359, 9001],
                     index=['Instructor', 'Curriculum Manager',
                            'Course Number', 'Power Level'])
  print(series['Instructor'])
  print("")
  print(series[['Instructor', 'Curriculum Manager', 'Course Number']])

'''
You can also use boolean operators to select specific items from the Series
'''
# Change False to True to see boolean indexing in action
if(False):
  cuteness = pd.Series([1, 2, 3, 4, 5], index=['Barata', 'Peixe', 'Porco',
                                               'Cachorro', 'Gatinho'])
  print(cuteness > 3)
  print("")
  print(cuteness[cuteness > 3])

Barata      False
Peixe       False
Porco       False
Cachorro     True
Gatinho      True
dtype: bool

Cachorro    4
Gatinho     5
dtype: int64

### Playground de Pandas: Dataframe

In [ ]:
import numpy as np
import pandas as pd

'''
O código a seguir ajudará vocês a entender o conceito de Dataframe no Pandas.

Você pode pensar em um Dataframe como uma tabela com linhas e colunas.
É semelhante a uma planilha, uma tabela de banco de dados ou um objeto
data.frame do R.

*This playground is inspired by Greg Reda's post on Intro to Pandas Data Structures:
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
'''

'''
To create a dataframe, you can pass a dictionary of lists to the Dataframe
constructor:
1) The key of the dictionary will be the column name
2) The associating list will be the values within that column.
'''
# Change False to True to see Dataframes in action
if(False):
  data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
          'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
          'wins': [11, 8, 10, 15, 11, 6, 10, 4],
          'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
  football = pd.DataFrame(data)
  print(football)

'''
Pandas also has various functions that will help you understand some basic
information about your data frame. Some of these functions are:
1) dtypes: to get the datatype for each column
2) describe: useful for seeing basic statistics of the dataframe's numerical
   columns
3) head: displays the first five rows of the dataset
4) tail: displays the last five rows of the dataset
'''
# Change False to True to see these functions in action
if(True):
  data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
          'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions','Lions', 'Lions'],
          'wins': [11, 8, 10, 15, 11, 6, 10, 4],
          'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
  football = pd.DataFrame(data)
  print(football.dtypes)
  print("")
  print(football.describe())
  print("")
  print(football.head())
  print("")
  print(football.tail())

year       int64
team      object
wins       int64
losses     int64
dtype: object

              year       wins     losses
count     8.000000   8.000000   8.000000
mean   2011.125000   9.375000   6.625000
std       0.834523   3.377975   3.377975
min    2010.000000   4.000000   1.000000
25%    2010.750000   7.500000   5.000000
50%    2011.000000  10.000000   6.000000
75%    2012.000000  11.000000   8.500000
max    2012.000000  15.000000  12.000000

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5

   year     team  wins  losses
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12